In [6]:
#fetch the data from github
import os
from six.moves import urllib

DOWNLOAD_ROOT="https://github.com/CNuge/kaggle_code/blob/master/"
STOCKS_PATH=os.path.join("datasets","stocks")
STOCKS_URL=DOWNLOAD_ROOT+"stock_data/all_s_and_p_data.csv?raw=true"
STOCKS_FILENAME="stocks.csv"

def fetch_stock_data(stocks_url=STOCKS_URL,stocks_path=STOCKS_PATH):
    if not os.path.isdir(stocks_path):
        os.makedirs(stocks_path)
    file_path=os.path.join(stocks_path,STOCKS_FILENAME)
    urllib.request.urlretrieve(stocks_url,file_path)

fetch_stock_data()

HTTPError: HTTP Error 404: Not Found

In [7]:
# Load the data using pandas
import pandas as pd


def load_csv_data(stocks_path=STOCKS_PATH,stocks_fileName=STOCKS_FILENAME):
    csv_path=os.path.join(stocks_path,stocks_fileName)
    return pd.read_csv(csv_path)

csv_data=load_csv_data()
csv_data.head()

         date    open    high      low   close   volume Name
0  2013-01-31  100.69  100.95  100.070  100.55  3764359  MMM
1  2013-02-01  101.44  101.99  101.160  101.56  3854003  MMM
2  2013-02-04  100.77  101.21  100.580  100.77  1987578  MMM
3  2013-02-05  101.31  101.92  101.245  101.49  2832049  MMM
4  2013-02-06  101.13  102.99  101.080  102.69  3510520  MMM

In [8]:
csv_data['Name']

0         MMM
1         MMM
2         MMM
3         MMM
4         MMM
5         MMM
6         MMM
7         MMM
8         MMM
9         MMM
10        MMM
11        MMM
12        MMM
13        MMM
14        MMM
15        MMM
16        MMM
17        MMM
18        MMM
19        MMM
20        MMM
21        MMM
22        MMM
23        MMM
24        MMM
25        MMM
26        MMM
27        MMM
28        MMM
29        MMM
         ...
609420    ZTS
609421    ZTS
609422    ZTS
609423    ZTS
609424    ZTS
609425    ZTS
609426    ZTS
609427    ZTS
609428    ZTS
609429    ZTS
609430    ZTS
609431    ZTS
609432    ZTS
609433    ZTS
609434    ZTS
609435    ZTS
609436    ZTS
609437    ZTS
609438    ZTS
609439    ZTS
609440    ZTS
609441    ZTS
609442    ZTS
609443    ZTS
609444    ZTS
609445    ZTS
609446    ZTS
609447    ZTS
609448    ZTS
609449    ZTS
Name: Name, Length: 609450, dtype: object

In [9]:
csv_data[csv_data['Name'].isin(['MMM'])].T

,0,1,2,3,4,5,6,7,8,9,...,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258
date,2013-01-31,2013-02-01,2013-02-04,2013-02-05,2013-02-06,2013-02-07,2013-02-08,2013-02-11,2013-02-12,2013-02-13,...,2018-01-17,2018-01-18,2018-01-19,2018-01-22,2018-01-23,2018-01-24,2018-01-25,2018-01-26,2018-01-29,2018-01-30
open,100.69,101.44,100.77,101.31,101.13,102.65,102.34,102.39,102.66,103.03,...,246.85,248.13,246.63,247.13,246.91,247.99,250,253.43,258.51,255.6
high,100.95,101.99,101.21,101.92,102.99,102.74,103.33,102.88,103.59,103.395,...,248.53,249,248.5,247.89,247.26,248.54,254.8,259.77,259.34,255.69
low,100.07,101.16,100.58,101.245,101.08,101.46,102.04,102.04,102.63,102.58,...,245.8,244.92,245.6,245.08,245.12,246.25,247.1,253.39,255.97,251.41
close,100.55,101.56,100.77,101.49,102.69,102.22,102.66,102.62,103.46,102.86,...,248.11,245.91,248.18,247.3,246.31,247.69,252.36,258.63,256.01,251.54
volume,3764359,3854003,1987578,2832049,3510520,2277403,1937721,1715444,1927930,1699804,...,2519000,2233505,2013467,1660506,1822654,3471044,3507873,3730628,2306292,2412632
Name,MMM,MMM,MMM,MMM,MMM,MMM,MMM,MMM,MMM,MMM,...,MMM,MMM,MMM,MMM,MMM,MMM,MMM,MMM,MMM,MMM

In [10]:
msft_data=csv_data[csv_data['Name']=='MSFT']
msft_data.head()

              date     open   high    low   close    volume  Name
370783  2013-01-31  27.7900  27.97  27.40  27.450  50528691  MSFT
370784  2013-02-01  27.6700  28.05  27.55  27.930  55555207  MSFT
370785  2013-02-04  27.8700  28.02  27.42  27.440  50517950  MSFT
370786  2013-02-05  27.6200  27.66  27.36  27.495  35376009  MSFT
370787  2013-02-06  27.3799  27.54  27.25  27.340  41873134  MSFT

In [11]:
# Try to group data by dates
import pandas as pd
msft_relations=pd.merge(csv_data, msft_data, on='date', how='outer')
msft_relations1=msft_relations[msft_relations['date']=='2013-01-31']
msft_relations1

,date,open_x,high_x,low_x,close_x,volume_x,Name_x,open_y,high_y,low_y,close_y,volume_y,Name_y
0,2013-01-31,100.6900,100.9500,100.0700,100.5500,3764359,MMM,27.79,27.97,27.4,27.45,50528691,MSFT
1,2013-01-31,33.1600,33.8800,33.1100,33.8800,33872874,ABT,27.79,27.97,27.4,27.45,50528691,MSFT
2,2013-01-31,36.8400,36.9300,36.2700,36.6900,10720624,ABBV,27.79,27.97,27.4,27.45,50528691,MSFT
3,2013-01-31,72.0600,72.7960,71.8900,71.8900,2456837,ACN,27.79,27.97,27.4,27.45,50528691,MSFT
4,2013-01-31,11.2900,11.4800,11.2500,11.4000,9047978,ATVI,27.79,27.97,27.4,27.45,50528691,MSFT
5,2013-01-31,68.7700,69.3900,68.4900,68.8000,327152,AYI,27.79,27.97,27.4,27.45,50528691,MSFT
6,2013-01-31,38.0000,38.2300,37.6800,37.8300,3291810,ADBE,27.79,27.97,27.4,27.45,50528691,MSFT
7,2013-01-31,73.4700,74.0500,73.0425,73.5200,1019170,AAP,27.79,27.97,27.4,27.45,50528691,MSFT
8,2013-01-31,10.8900,10.9500,10.7800,10.8400,7138758,AES,27.79,27.97,27.4,27.45,50528691,MSFT
9,2013-01-31,47.4400,48.7500,46.5300,48.2300,5793369,AET,27.79,27.97,27.4,27.45,50528691,MSFT
10,2013-01-31,144.2000,144.4100,143.0325,143.9300,522983,AMG,27.79,27.97,27.4,27.45,50528691,MSFT
11,2013-01-31,52.4100,53.2100,52.1901,53.0600,2714929,AFL,27.79,27.97,27.4,27.45,50528691,MSFT
12,2013-01-31,44.3500,44.8700,44.3100,44.7800,3384082,A,27.79,27.97,27.4,27.45,50528691,MSFT
13,2013-01-31,87.7200,88.2000,87.3700,87.4300,1096513,APD,27.79,27.97,27.4,27.45,50528691,MSFT
14,2013-01-31,40.2600,40.9000,40.2600,40.7100,1335889,AKAM,27.79,27.97,27.4,27.45,50528691,MSFT
15,2013-01-31,23.0650,23.2500,22.9100,23.0650,970710,ALK,27.79,27.97,27.4,27.45,50528691,MSFT
16,2013-01-31,61.9900,62.0300,61.2800,61.3100,715028,ALB,27.79,27.97,27.4,27.45,50528691,MSFT
17,2013-01-31,94.7300,95.3800,93.6200,93.9900,1104038,ALXN,27.79,27.97,27.4,27.45,50528691,MSFT
18,2013-01-31,85.2800,86.8500,85.0100,86.3900,1493748,AGN,27.79,27.97,27.4,27.45,50528691,MSFT
19,2013-01-31,157.0000,159.0500,155.4300,157.6000,701355,ADS,27.79,27.97,27.4,27.45,50528691,MSFT
20,2013-01-31,22.9450,22.9940,22.8050,22.9200,1084050,LNT,27.79,27.97,27.4,27.45,50528691,MSFT
21,2013-01-31,44.1900,44.3500,43.8000,43.9000,3262824,ALL,27.79,27.97,27.4,27.45,50528691,MSFT
22,2013-01-31,375.6303,379.1888,375.5001,378.2228,3263990,GOOGL,27.79,27.97,27.4,27.45,50528691,MSFT
23,2013-01-31,33.8300,33.9200,33.6400,33.6800,9389818,MO,27.79,27.97,27.4,27.45,50528691,MSFT
24,2013-01-31,271.0400,275.9400,263.6991,265.5000,6771101,AMZN,27.79,27.97,27.4,27.45,50528691,MSFT
25,2013-01-31,32.4300,32.5300,32.2700,32.4400,1885236,AEE,27.79,27.97,27.4,27.45,50528691,MSFT
26,2013-01-31,14.2800,14.5500,14.2200,14.2800,4575800,AAL,27.79,27.97,27.4,27.45,50528691,MSFT
27,2013-01-31,45.0800,45.3400,45.0446,45.2900,2426910,AEP,27.79,27.97,27.4,27.45,50528691,MSFT
28,2013-01-31,59.3700,59.8200,58.8100,58.8100,5941472,AXP,27.79,27.97,27.4,27.45,50528691,MSFT
29,2013-01-31,37.5500,38.0500,37.3900,37.8300,13588640,AIG,27.79,27.97,27.4,27.45,50528691,MSFT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
439,2013-01-31,43.2300,43.6200,42.9000,43.4100,2937228,VRSN,27.79,27.97,27.4,27.45,50528691,MSFT
440,2013-01-31,55.0900,55.5000,54.5700,55.1600,596314,VRSK,27.79,27.97,27.4,27.45,50528691,MSFT
441,2013-01-31,43.5000,43.8700,43.4700,43.6100,12881490,VZ,27.79,27.97,27.4,27.45,50528691,MSFT
442,2013-01-31,44.4800,45.2500,44.2700,44.7800,4665198,VRTX,27.79,27.97,27.4,27.45,50528691,MSFT
443,2013-01-31,59.5100,60.8400,59.0300,60.3500,5392303,VIAB,27.79,27.97,27.4,27.45,50528691,MSFT
444,2013-01-31,39.7500,39.8750,39.0875,39.4775,16685520,V,27.79,27.97,27.4,27.45,50528691,MSFT
445,2013-01-31,85.1500,85.2500,84.3700,84.4600,999307,VNO,27.79,27.97,27.4,27.45,50528691,MSFT
446,2013-01-31,56.7000,57.0600,56.0400,56.5600,826262,VMC,27.79,27.97,27.4,27.45,50528691,MSFT
447,2013-01-31,69.6900,70.4400,69.6900,69.9500,7019560,WMT,27.79,27.97,27.4,27.45,50528691,MSFT
448,2013-01-31,39.8300,39.9700,39.7100,39.9600,7303782,WBA,27.79,27.97,27.4,27.45,50528691,MSFT
449,2013-01-31,36.1400,36.4300,35.9500,36.3800,3745265,WM,27.79,27.97,27.4,27.45,50528691,MSFT
450,2013-01-31,91.5800,92.2900,91.1100,91.5700,437012,WAT,27.79,27.97,27.4,27.45,50528691,MSFT
451,2013-01-31,39.2800,39.4300,39.0100,39.4300,2563325,WEC,27.79,27.97,27.4,27.45,50528691,MSFT
452,2013-01-31,34.8600,34.9900,34.7900,34.8300,16755786,WFC,27.79,27.97,27.4,27.45,50528691,MSFT
453,2013-01-31,62.7800,62.9200,62.3000,62.8400,2392120,HCN,27.79,27.97,27.4,27.45,50528691,MSFT
454,2013-01-31,46.3000,47.3800,46.0500,47.0000,3866266,WDC,27.79,27.97,27.4,27.45,50528691,MSFT
455,2013-01-31,14.1000,14.3300,14.0700,14.2300,8859454,WU,27.79,27.97,27.4,27.45,50528691,MSFT
456,2013-01-31,29.9000,30.2600,29.7300,30.1200,4041977,WY,27.79,27.97,27.4,27.45,50528691,MSFT
457,2013-01-31,112.6500,115.6700,110.3500,115.3800,2924643,WHR,27.79,27.97,27.4,27.45,50528691,MSFT
458,2013-01-31,34.9500,35.3000,34.8100,35.0500,4160968,WMB,27.79,27.97,27.4,27.45,50528691,MSFT
459,2013-01-31,56.0500,56.7300,55.6800,55.7900,1424634,WYN,27.79,27.97,27.4,27.45,50528691,MSFT
460,2013-01-31,125.5000,126.9500,123.3200,125.2200,3251493,WYNN,27.79,27.97,27.4,27.45,50528691,MSFT
461,2013-01-31,27.4900,27.8000,27.3400,27.7800,3063219,XEL,27.79,27.97,27.4,27.45,50528691,MSFT
462,2013-01-31,32.6000,32.8400,31.8800,32.0400,12105944,XRX,27.79,27.97,27.4,27.45,50528691,MSFT
463,2013-01-31,36.6800,36.8400,36.4301,36.4900,1974071,XLNX,27.79,27.97,27.4,27.45,50528691,MSFT
464,2013-01-31,27.7100,27.8100,27.5550,27.7200,1719891,XL,27.79,27.97,27.4,27.45,50528691,MSFT
465,2013-01-31,27.9300,28.0100,27.8850,27.9300,922637,XYL,27.79,27.97,27.4,27.45,50528691,MSFT
466,2013-01-31,64.2100,65.4000,64.0200,64.9400,5130117,YUM,27.79,27.97,27.4,27.45,50528691,MSFT
467,2013-01-31,73.9300,74.7350,72.2200,74.6000,2036435,ZBH,27.79,27.97,27.4,27.45,50528691,MSFT
468,2013-01-31,22.8600,23.4900,22.6800,23.3200,2716443,ZION,27.79,27.97,27.4,27.45,50528691,MSFT

In [13]:

msft_corr=msft_relations[['open_x','open_y']]
msft_corr

          open_x  open_y
0       100.6900   27.79
1        33.1600   27.79
2        36.8400   27.79
3        72.0600   27.79
4        11.2900   27.79
5        68.7700   27.79
6        38.0000   27.79
7        73.4700   27.79
8        10.8900   27.79
9        47.4400   27.79
10      144.2000   27.79
11       52.4100   27.79
12       44.3500   27.79
13       87.7200   27.79
14       40.2600   27.79
15       23.0650   27.79
16       61.9900   27.79
17       94.7300   27.79
18       85.2800   27.79
19      157.0000   27.79
20       22.9450   27.79
21       44.1900   27.79
22      375.6303   27.79
23       33.8300   27.79
24      271.0400   27.79
25       32.4300   27.79
26       14.2800   27.79
27       45.0800   27.79
28       59.3700   27.79
29       37.5500   27.79
...          ...     ...
609420  166.3700   93.30
609421   33.5600   93.30
609422  123.8200   93.30
609423   70.7600   93.30
609424  138.2300   93.30
609425  109.1400   93.30
609426   77.9600   93.30
609427   87.7600   93.30
609428  217.0000   93.30
609429   63.0900   93.30
609430   65.4300   93.30
609431   59.4400   93.30
609432   86.0000   93.30
609433   20.6600   93.30
609434   67.8300   93.30
609435   36.8400   93.30
609436  181.7200   93.30
609437   31.6900   93.30
609438  161.0000   93.30
609439  124.5500   93.30
609440  160.8900   93.30
609441   44.7400   93.30
609442   32.6200   93.30
609443   71.5000   93.30
609444   36.6100   93.30
609445   72.8400   93.30
609446   85.0000   93.30
609447  123.0500   93.30
609448   53.7100   93.30
609449   78.4400   93.30

[609450 rows x 2 columns]

In [ ]:
import numpy as np
corr_mat = np.corrcoef(msft_corr)
corr_mat

In [ ]:
csv_data.describe()

In [ ]:
csv_data.hist()

In [ ]:
#only in a Jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
csv_data.hist(bins=50, figsize=(20,15))
plt.show()